body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #FE9489;
    background-repeat: no-repeat;
    background-size: cover;
}

ul { list-style: none; padding-left: 5px; }
a { color:#6087a9; text-decoration: underline;}
a:hover{ color: #a5bacb;}
a:visited{color: #1b1917;}

.content {
    background-color: #fef0db;
    color: #3d3833;
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
}
.footer {
    min-height: 100px;
    
}
.anchors {
    border-left: solid 1px #cdcdcd3d;
    padding-left: 15px;
}
.sidebar {
    border-right: solid 1px #cdcdcd3d;
}
figure {
    text-align: center;
}

.logo{
    align-items: center;
}

.description{
    text-align: justify;
}

h1{
    text-align: center;
}

.tableNPC{
    border: 2px solid rgb(255, 255, 255);
    border-collapse: separate;
    border-style: none;
    width: 100%;
    text-align: center;
    background-color: #f1887a98;
}

thead{
    background-color: #fe9489;
    color: #fff4e3;
}

tr{
    padding-top: 10px;
    padding-bottom: 10px;
}

.caption{
    font-size: 11px;
}

h2, h3.game-heading{
    text-align: center;
}

.game-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
}

.game-title{
    color: #3d3833;
    text-decoration: none;
    text-align: center;
}

figcaption{
    margin: 0;
    padding: 0;
}
